.ani-scroll-1-in {
    animation: animation-scroll-1-in ease-in;
    animation-timeline: view();
    animation-range: entry cover 30%;
}

.ani-scroll-1-in {
    animation: animation-scroll-1-in ease-in;
    animation-timeline: view();
    animation-range: entry cover 30%;
}