//PC
$headerTitleSize: 36px;
$headerLogo1Size: 124px;
$headerLogo2Size: 130px;
$paddingTitleSizeSide: 28px;
$paddingTitleSizeTop: 12px;

$homeHeadingSize: 60px;

$spacingSmall: 48px;
$spacingBig: 120px;

//Tablet
$headerTitleSizeTb: 30px;
$headerLogo1SizeTb: 102px;
$headerLogo2SizeTb: 108px;
$paddingTitleSizeSideTb: 26px;
$paddingTitleSizeTopTb: 10px;

$homeHeadingSizeTb: 52px;

$spacingSmallTb: 40px;
$spacingBigTb: 100px;

//Phone
$headerTitleSizePh: 24px;
$headerLogo1SizePh: 80px;
$headerLogo2SizePh: 90px;
$paddingTitleSizeSidePh: 24px;
$paddingTitleSizeTopPh: 8px;

$homeHeadingSizePh: 36px;

$spacingSmallPh: 36px;
$spacingBigPh: 80px;
