//Variables
$tc-yellow: #FFD94D;
$tc-yellow-lt: #FFE880;
$tc-yellow-dk: #FFCA1A;
$tc-black: #222222;
$tc-white: white;
$tc-gray: #404040;
$tc-gray-lt: #dddddd;

$tc-pop-yellow: #ffca3a;
$tc-pop-green: #8ac926;
$tc-pop-blue: #1982c4;
$tc-pop-purple: #6a4c93;
$tc-pop-red: #ff595e;